@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background: #fafafa;
  color: #18181b;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
